extends ./layout.jade
block content    
  div(class='jumbotron')
    h1 Declare Pocket Bankruptcy
    p Pocket is an awesome tool for saving all of the things you'll never read. But every once in a while you just need to clear out the cruft. Delcare bankruptcy today!
    a(href='/auth', class='btn btn-primary btn-lg') Login with Pocket
</div>
