body {
  padding-top: 70px;
}
footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#welcome {
  text-align: center;
  line-height: 2em;
}
#welcome > * {
  margin-bottom: 1.3em;
}
#welcome.wait button {
  cursor: wait;
}
